<nav>
  <img src="/images/human-footprints.png" alt="" height="50px" weight="50px" class="mt-4">
  <h1 id="heading" class="pb-0 mb-0" onclick="location.href = '/'">REUNION</h1>
  <p class="caption">Every parting is a form of death, as every reunion is a type of heaven</p>
</nav>
